<div class='container'>
  <div id="search-box">
    <%= form_tag('/books/search', method: :get) do %>
    <%= text_field_tag :book, "",  id: "book_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  <% if @books.present? %>
  <h2>検索結果</h2>
  <div class="row">
    <!-- 取得した書籍を表示 -->
    <%= render partial: 'search_result' %>
  </div>
  <% end %>
</div>